.header{
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}
.header__h1{
    font-family: arco;
    color: #ffffff;
    font-size: 3rem;
}
.header__letra1{
    color: #8247B1;
}
.header__letra2{
    color: #000;
}
.confi{
    margin: 0px 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.nombre{
    font-size: 1.5rem;
    font-family: arco;
    color: #8247B1;
}
.name__span{
    color: #000;
}
.img__perfil{
    width: 70px;
    color: #ffffff;
    padding: 0px 0px 20px;
}
.displaynone{
    display: none;
}
.displayblock{
    display: block;
}