.ganador, .perdedor{
    position: relative;
    background-color: #ffffff;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 50px 0px;
    text-align: center;
}
.h4__perdedor, .h4__ganador{
    font-size: 4rem;
    font-family: arco;
    color: #8247B1;
}
.text__result{
    color: #000;
    font-family: arco;
    font-size: 2rem;
}
.img__result{
    width: 100px;
}

/* BUTTON EMPEZAR DE NUEVO */
.empezar__nuevo{
    border-radius: 10px;
    padding: 10px;
    background-color: #ffffff;
}
.button__reiniciar{
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    background: none;
    font-family: arco;
    font-size: 2rem;
    border: 2px solid #8247B1;
    color: #8247B1;
}
.button__reiniciar:hover{
    background-color: #8247B1;
    color: #ffffff;
}